version: "3.9"

services:
  backend:
    build: ./backend
    container_name: pc_backend
    ports:
      - "8001:8000"
    volumes:
      - ./backend:/app

  frontend:
    build: ./frontend
    container_name: pc_frontend
    ports:
      - "3000:80"
