version: "3.9"

services:
  backend:
    build:
      context: ./backend
    container_name: backend
    ports:
      - "8000:8000"
    environment:
      - APP_ENV=production
    networks:
      - app_network

  frontend:
    build:
      context: ./frontend
      args:
        VITE_API_URL: "http://72.61.56.128:8000"
    container_name: frontend
    depends_on:
      - backend
    ports:
      - "80:80"
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
